*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main h1{
    font-family: Fredoka, sans-serif ;
    font-weight: 700;
    text-align: center;
    margin: 30px;
    color:  #E53170;
}
main{
    font-family: fredoka, sans-serif;
    margin-left: 11%;
    width: 78%;
    text-align: center;
    font-size: revert;
    margin-bottom: 40px;
}
main div{
    margin-bottom: 30px;
}
p{
    display: inline-block;
}
.float-left{
    height: 80px;
    float: left;
    background-color:#0F0E17 ;
}
.clearfix::after{
    clear: both;
	display: table;
}
.float-center{
    height: 80px;
    
    background-color:#0F0E17 ;
}